
body{
    margin: 0;
}
.container{
    display: flex;
}
.container div{
    flex:1;
}
.item{
    text-align: center;
    height: 100vh;
}

.img{
    text-align: center;
    background-image: url(./img/helo.jpg);
    background-size: 200vh;

}
.brand{
    position: relative;
    color: aliceblue;
    top: 20vh;
    background-color: rgba(255, 255, 255, 0.156);
    font-size: 3rem;
    
}
@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
    .brand{
        position: static;
        padding: 15px;
    }
    .img{
        background-size: 120vh;
        display: flex;
        
    }
  }
